version: "3.8"
services:
  v2ray:
    user: root
    image: v2fly/v2fly-core:latest
    container_name: v2ray
    restart: always
    command: ["run", "-config", "/etc/v2ray/config.json"]
    volumes:
      - ./server.json:/etc/v2ray/config.json:ro
    networks:
      - web

  caddy:
    image: caddy:2
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy_data:/data
      - ./caddy_config:/config
    networks:
      - web

networks:
  web:
    driver: bridge
